<!--===============================-->
<!--== FAQ ========================-->
<!--===============================-->
<section id="faq" class="row">
    <div class="col-sm-12">
        <div class="section-header text-right">
            <h2>D.U.K.</h2>
            <h4>Dažnai užduodami klausimai</h4>
        </div>
    </div>
    <div class="col-sm-6">
        <ul class="accordion-group">
            <li class="accordion">
                <a class="accordion-heading">
                    <h4 class="accordion-title">Kam skirta?</h4>
                    <span class="fa fa-plus-circle pull-right"></span>
                </a>
                <div class="accordion-body">
                </div>
            </li>
            <li class="accordion">
                <a class="accordion-heading">
                    <h4 class="accordion-title">Kiek kainuoja?</h4>
                    <span class="fa fa-plus-circle pull-right"></span>
                </a>
                <div class="accordion-body">
                    Renginys yra nemokamas
                </div>
            </li>
            <li class="accordion">
                <a class="accordion-heading">
                    <h4 class="accordion-title">Ką išmokysite?</h4>
                    <span class="fa fa-plus-circle pull-right"></span>
                </a>
                <div class="accordion-body">
                    Symfony projekto struktūros sukūrimas, konfigūravimas. Demonstracinio svetainės programavimas.
                </div>
            </li>

        </ul>
    </div>
    <div class="col-sm-6">
        <ul class="accordion-group">
            <li class="accordion">
                <a class="accordion-heading">
                    <h4 class="accordion-title">Kas yra Symfony?</h4>
                    <span class="fa fa-plus-circle pull-right"></span>
                </a>
                <div class="accordion-body">
                    Pilnas atviro kodo PHP karkasas, veikiantis nuo PHP 5.3. Programavimo komponentų rinkinys,
                    padedantis kasdieniame programuotojo darbe. Plačiau <a href="http://www.symfony.com" target="_blank">symfony.com</a>.
                </div>
            </li>         <li class="accordion">
                <a class="accordion-heading">
                    <h4 class="accordion-title">Ką reikia pasiruošti?</h4>
                    <span class="fa fa-plus-circle pull-right"></span>
                </a>
                <div class="accordion-body">
                    Nešiojamą kompiuterį su įdiegta PHP 5.4+ versija, MySQL duomenų baze, tekstinį redaktorių ar programavimo aplinką (IDE).
                </div>
            </li>
        </ul>
    </div>
</section>
<!--==========-->
