<!--===============================-->
<!--== FAQ ========================-->
<!--===============================-->
<section id="faq" class="row">
    <div class="col-sm-12">
        <div class="section-header text-right">
            <h2>D.U.K.</h2>
            <h4>Dažnai užduodami klausimai</h4>
        </div>
    </div>
    <div class="col-sm-6">
        <ul class="accordion-group">
            <li class="accordion">
                <a class="accordion-heading">
                    <h4 class="accordion-title">Kam skirta?</h4>
                    <span class="fa fa-plus-circle pull-right"></span>
                </a>
                <div class="accordion-body">
                    Renginys skirtas visiems ir visoms norintiems sužinoti apie web projektų kūrimą
                    naudojant populiarų Symfony2 karkasą (framework).
                </div>
            </li>
            <li class="accordion">
                <a class="accordion-heading">
                    <h4 class="accordion-title">Kiek kainuoja?</h4>
                    <span class="fa fa-plus-circle pull-right"></span>
                </a>
                <div class="accordion-body">
                    Renginys yra nemokamas!
                </div>
            </li>
            <li class="accordion">
                <a class="accordion-heading">
                    <h4 class="accordion-title">Ką išmoksiu?</h4>
                    <span class="fa fa-plus-circle pull-right"></span>
                </a>
                <div class="accordion-body">
                    Sukurti naują Symfony projektą, atlikti pagr. konfigūraciją.
                    Susipažinsite su <i>composer</i> įrankiu, <i>bundle</i> ir komponentų sistema, 
                    projekto struktūros principais. Programuosite demonstracinę svetainę.
                    Liūdna nebus!
                </div>
            </li>

        </ul>
    </div>
    <div class="col-sm-6">
        <ul class="accordion-group">
            <li class="accordion">
                <a class="accordion-heading">
                    <h4 class="accordion-title">Kas yra Symfony?</h4>
                    <span class="fa fa-plus-circle pull-right"></span>
                </a>
                <div class="accordion-body">
                    Populiarus atviro kodo PHP karkasas (framework) ir programavimo komponentų rinkinys,
                    leidžiantis greičiau ir kokybiškiau kurti programas. Naudojantis karkasu, nebereikia
                    "išradinėti dviračio" kiekviename projekte, tačiau esant poreikiui yra galimybė bet kurį
                    komponentą pasikeisti savu. Plačiau <a href="http://www.symfony.com" target="_blank">symfony.com</a>.
                </div>
            </li>         
            <li class="accordion">
                <a class="accordion-heading">
                    <h4 class="accordion-title">Ką reikia pasiruošti?</h4>
                    <span class="fa fa-plus-circle pull-right"></span>
                </a>
                <div class="accordion-body">
                    Nešiojamą kompiuterį (Windows, Mac, Linux) su įdiegta PHP 5.4+ versija, 
                    MySQL duomenų baze, jums patinkantį kodo redaktorių ar programavimo aplinką (IDE): 
                    PhpStorm, NetBeans, Zend Studio, Eclipse ar kt.
                </div>
            </li>
        </ul>
    </div>
</section>
<!--==========-->
