{% extends "EstinaHomeBundle::layout.html.twig" %}

{% block body %}
<!--===============================-->
<!--== Features ===================-->
<!--===============================-->
<section id="features" class="row">
    <div class="col-md-5 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-map-marker"></div>
            <div class="info">
                <h3>Šiaurės miestelio technologijų parkas</h3>
                <span>J. Galvydžio g. 5, Vilnius</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-calendar"></div>
            <div class="info">
                <h3>Spalio 11 d.</h3>
                <span>Pradžia 10:00</span><br>
                <span>Pabaiga 16:00</span><br>
                <span>(numatyti pietūs)</span>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-users"></div>
            <div class="info">
                <h3>Dirbtuvės</h3>
                <span>Praktinis įvadas į Symfony</span>
            </div>
        </div>
    </div>
</section>
<!--==========-->



{{ render(controller('EstinaHomeBundle:Default:faq', {})) }}
{{ render(controller('EstinaHomeBundle:Default:partners', {})) }}
{{ render(controller('EstinaHomeBundle:Default:register', {})) }}

{% endblock %}
