{% extends "EstinaHomeBundle::layout.html.twig" %}

{% block body %}
<!--===============================-->
<!--== Features ===================-->
<!--===============================-->
<section id="features" class="row">
    <div class="col-md-3 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-map-marker"></div>
            <div class="info">
                <h3>Kolpingo kolegija</h3>
                <span>A. Jakšto g. 6, Kaunas</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-calendar"></div>
            <div class="info">
                <h3>Sausio 17 d.</h3>
                <span>Pradžia 10:00</span><br>
                <span>Pabaiga 16:00</span><br>
                <span>(rėmėjai vaišina pietumis)</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-microphone"></div>
            <div class="info">
                <h3>NEMOKAMAI!</h3>
                <span>Renginys yra visiškai nemokamas</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-users"></div>
            <div class="info">
                <h3>Dirbtuvės</h3>
                <span>Praktinis įvadas į Symfony2</span>
            </div>
        </div>
    </div>
</section>
<!--==========-->



{{ render(controller('EstinaHomeBundle:Default:faq', {})) }}
{{ render(controller('EstinaHomeBundle:Default:mentors', {})) }}
{{ render(controller('EstinaHomeBundle:Default:partners', {})) }}
{{ render(controller('EstinaHomeBundle:Default:register', {})) }}

{% endblock %}
