{% extends "EstinaHomeBundle::layout.html.twig" %}

{% block body %}
<!--===============================-->
<!--== Features ===================-->
<!--===============================-->
<section id="features" class="row">
    <div class="col-md-3 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-calendar"></div>
            <div class="info">
                <h3>Rugsėjo 21 d.</h3>
                <span>Durys 18:30</span><br>
                <span>Pradžia 19:00</span><br>
                <span>&nbsp;</span><br>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-map-marker"></div>
            <div class="info">
                <h3>Vieta</h3>
                <span>Sapiegos Bistro</span><br>
                <span><a href="https://www.facebook.com/SapiegosBistro/">Sapiegos Bistro</a></span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-users"></div>
            <div class="info">
                <h3>Afterparty</h3>
                <span>Bar Kodas</span><br />
                <span><a href="https://www.facebook.com/BarKodas-313692865713719/">Bar Kodas</a></span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-6">
        <div class="event-info">
            <div class="icon fa fa-facebook"></div>
            <div class="info">
                <h3>Registracija</h3>
                <span><a href="https://www.meetup.com/vilniusphp/">Meetup.com</a></span>
            </div>
        </div>
    </div>
</section>
<!--==========-->



{{ render(controller('EstinaHomeBundle:Default:speakers', {})) }}
{{ render(controller('EstinaHomeBundle:Default:partners', {})) }}

{% endblock %}
