
<section id="partners" class="row">
    <div class="col-sm-12 text-center">
        <h2>Rėmėjai</h2>
        <ul class="clearfix">
            <li class="col-sm-3">
                <div>
                    <a href="http://www.estina.com/" title="Symfony development guru"><img src="images/sponsors/estina-logo-500x500.png" alt="Estina"></a>
                </div>
            </li>
            <li class="col-sm-3">
                <div>
                    <a href="https://www.isign.io/" title="e-signature solutions"><img src="images/sponsors/isign.png" alt="ISIGN.io"></a>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--==========-->
