
<section id="partners" class="row">
    <div class="col-sm-12 text-center">
        <h2>Rėmėjai</h2>
        <ul class="clearfix">
            <li class="col-sm-3">
                <div>
                    <a href="http://www.estina.com/"><img src="images/sponsors/estina.png" alt="Estina"></a>
                </div>
            </li>
            <li class="col-sm-3">
                <div>
                    <a href="http://www.smtp.lt/"><img src="images/sponsors/smtp.png" alt="Šiaurės miestelio technologijų parkas"></a>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--==========-->
