<!--===============================-->
<!--== Mentors ===================-->
<!--===============================-->
<section id="speakers" class="row separated">
    <div class="col-sm-12">
        <div class="section-header text-center">
            <h2>Pranešimai</h2>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img src="{{ 'zilvinas@kuusas.lt'|gravatar }}" alt="Žilvinas Kuusas">
                </div>
                <div class="speaker-contacts">
                    <div class="speaker-contacts">
                        <a href="https://www.facebook.com/kuusas" class="contact pull-left fa fa-facebook"></a>
                        <a href="https://twitter.com/kuusas" class="contact pull-right fa fa-twitter"></a>
                    </div>
                </div>
            </div>
            <h3>Žilvinas Kuusas</h3>
            <h4>Symfony pavyzdinis projektas</h4>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img src="{{ 'dariusleskauskas@gmail.com'|gravatar }}" alt="Darius Leskauskas">
                </div>
                <div class="speaker-contacts">
                    <a href="https://www.facebook.com/darles" class="contact pull-left fa fa-facebook"></a>
                    <a href="https://twitter.com/darles" class="contact pull-right fa fa-twitter"></a>
                </div>
            </div>
            <h3>Darius Leskauskas</h3>
            <h4>Jum tikrai nereikia trečių šalių Bundle'ų</h4>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="speaker">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img src="{{ 'paulius.podolskis@gmail.com'|gravatar }}" alt="Paulius Podolskis">
                </div>
                <div class="speaker-contacts">
                    <a href="https://www.facebook.com/podolskis" class="contact pull-left fa fa-facebook"></a>
                    <a href="https://twitter.com/wsuff" class="contact pull-right fa fa-twitter"></a>
                </div>
            </div>
            <h3>Paulius Podolskis</h3>
            <h4>Symfony microframework</h4>
        </div>
    </div>
</section>
<!--==========-->
