<!DOCTYPE html>
<html lang="lt">
	<head prefix="og: http://ogp.me/ns#">
		<title>Symfony.lt</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!--== Google Fonts ==-->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">

        <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}">
		<!--== CSS Files ==-->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/style.css" rel="stylesheet" media="screen">
		<link href="css/animate.min.css" rel="stylesheet" media="screen">
		<link href="css/font-awesome.css" rel="stylesheet" media="screen">
		<link href="css/owl.carousel.css" rel="stylesheet" media="screen">
		<link href="css/flexslider.css" rel="stylesheet" media="screen">
		<link href="css/fancySelect.css" rel="stylesheet" media="screen">
		<link href="css/responsive.css" rel="stylesheet" media="screen">
		<link href="css/nta.css" rel="stylesheet" media="screen">

		<!--== FB meta ==-->
        <meta property="og:url" content="{{ url('home') }}" />
        <meta property="og:title" content="Symfony.lt meetup" />
        <meta property="og:description" content="Symfony.lt meetup" />
        <meta property="og:image" content="https://scontent-b.xx.fbcdn.net/hphotos-prn2/t1/224363_211720515516357_4598012_n.jpg"/>
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="300">
        <meta property="og:image:height" content="300">
	</head>
	<body>
		<header id="header">
			<div id="menu" class="header-menu fixed">
				<div class="container box">
					<div class="row">
						<nav role="navigation" class="col-sm-12">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>

								<!--== Logo ==-->
								<span class="navbar-brand logo">
									<img src="http://www.symfony.com/images/v5/logos/header-logo.svg" alt="Symfony.lt">
								</span>

							</div>
							<div class="navbar-collapse collapse">
								<!--== Navigation Menu ==-->
								<ul class="nav navbar-nav">
									<li class="current"><a href="#header">Pradžia</a></li>
									<li><a href="#speakers">Pranešėjai</a></li>
									<li><a href="#partners">Rėmėjai</a></li>
									<li><a href="#location">Vieta</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>

			<!--== Site Description ==-->
			<div class="header-cta">
				<div class="container">
					<div class="row">
						<div class="blk">
							<h1>Symfony.LT meetup #3</h1>
						</div>
					</div>
				</div>
			</div>

			<div class="header-bg">
				<div id="preloader">
					<div class="preloader"></div>
				</div>
				<div class="main-slider" id="main-slider">

					<!--== Main Slider ==-->
					<ul class="slides">
						<li><img src="images/slides/1.jpg" alt=""/></li>
						<li><img src="images/slides/2.jpg" alt=""/></li>
						<li><img src="images/slides/3.jpg" alt=""/></li>
						<li><img src="images/slides/4.jpg" alt=""/></li>
						<li><img src="images/slides/5.jpg" alt=""/></li>
					</ul>
				</div>
			</div>
		</header>

		<div class="content">
			<div class="container box">
                {% block body %}{% endblock %}
				<div id="gotop" class="gotop fa fa-arrow-up"></div>
			</div>
		</div>
		<footer id="footer">
			<div id="map_canvas"></div>

			<div class="footer" id="location">
				<div class="container box">

					<section id="info" class="row">
						<div class="col-sm-8">
							<!--== Social Icons ==-->
							<ul class="social-icons">
								<li><a href="https://www.facebook.com/events/1639990816316333/" class="fa fa-facebook"></a></li>
								<li><a href="https://twitter.com/VilniusPHP" class="fa fa-twitter"></a></li>
							</ul>
						</div>
						<div class="col-sm-4 text-right">
							<div class="copyrights">
                                Visos teisės saugomos. © {{ "now"|date("Y") }}<br/>
                                Symfony prekės ženklas priklauso Fabien Potencier.<br/>
							</div>
						</div>
					</section>

				</div>
			</div>
		</footer>

		<!--== Javascript Files ==-->
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script src="js/jquery-2.1.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.scrollTo.js"></script>
		<script src="js/jquery.nav.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/jquery.flexslider.js"></script>
		<script src="js/jquery.accordion.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/jquery.fitvids.js"></script>
		<script src="js/gmap3.js"></script>
		<script src="js/fancySelect.js"></script>
		<script src="js/main.js"></script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-47124836-2', 'auto');
		  ga('send', 'pageview');

		</script>
	</body>
</html>
